<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap.html' %}
    <title>join us</title>
</head>
<body>
    {% include "sign_nav.html" %}
    <div class="container">
        <div class="row" style="margin-bottom: 16px;">
                <h2>Welcome to chamaZetu Web App!<br /></h2>
                <p>
                <div class="col-md-6" style="margin-bottom: 16px;">
                    At our app, we believe in fostering a sense of community, collaboration, and 
                    shared goals. As a member, you'll have the opportunity to explore and join 
                    various Chamas created by our dedicated managers, each with its own unique 
                    vision and purpose. We're excited to share this platform with you, where you 
                    can connect with like-minded individuals and embark on a journey towards your 
                    financial aspirations together.
                </div>

                <div class="col-md-6 img-fluid" style="margin-bottom: 16px;">
                    <img src="/static/together.jpg" height="250px" alt="together">
                </div>
                
                <div class="d-none d-md-block col-md-6 img-fluid" style="margin-bottom: 16px;">
                    <img src="/static/we_rise.jpg" height="250px" alt="we_rise">
                </div>
                
                <div class="col-md-6" style="margin-bottom: 16px;">
                    When you browse through our Chamas, you'll find detailed descriptions and insightful 
                    goals, allowing you to understand the essence and direction of each group. If you come 
                    across a Chama that resonates with you, and if it's open to new members, you'll have 
                    the option to join right away. However, if a Chama is currently not accepting new 
                    members, you can express your interest, and we'll make sure to notify you promptly 
                    as soon as it opens its doors.
                </div>
                
                <div class="col-md-6" style="margin-bottom: 16px;">
                    Once you're part of a Chama, you'll have access to a dedicated space where you can 
                    keep track of all the groups you've joined. Within this personalized area, you'll be 
                    able to explore the contributions made by fellow members, gaining valuable insights 
                    and inspiration. You'll also have the opportunity to contribute your own ideas, 
                    expertise, and resources to the group, enriching the collective experience for 
                    everyone involved.
                </div>

                <div class="col-md-6 img-fluid" style="margin-bottom: 16px;">
                    <img src="/static/pc_table.jpg" height="250px" alt="pc_table">
                </div>

                <div class="d-none d-md-block  col-md-6 img-fluid" style="margin-bottom: 16px;">
                    <img src="/static/pc_shhet.jpg" height="250px" alt="pc_shhet">
                </div>

                  
                <div class="col-md-6" style="margin-bottom: 16px;">
                    Transparency is a cornerstone of our platform, and we firmly believe in promoting 
                    open communication and trust within our Chama communities. By joining, you'll have 
                    the chance to familiarize yourself with the profiles of your fellow Chama members, 
                    as well as the inspiring leaders who guide the group towards success. Real-time 
                    visibility into the contributions made by each member further enhances transparency, 
                    ensuring a sense of shared purpose and accountability.
                </div>
             
                <div class="col-md-6" style="margin-bottom: 16px;">
                    We understand that choosing the right Chama is an important decision, and we want to 
                    assure you that our app provides a welcoming and inclusive environment. We're here to 
                    support you every step of the way, helping you connect with individuals who share your 
                    aspirations, values, and commitment to financial growth.
                    Join us today and embark on a fulfilling journey with like-minded individuals, as we 
                    work together to achieve our financial goals and build lasting connections within our 
                    vibrant Chama community.
                </div>
                
                <div class="col-md-6 img-fluid" style="margin-bottom: 16px;">
                    <img src="/static/this_or_that.jpg" height="250px" alt="together">
                </div>

                </p>
    </div>
</body>
</html>