<style>
    .carousel-item img {
     width: 100%;
     height: 360px;
     object-fit: cover;
     margin-bottom: 16px;
    }
 </style>
     
 <div id="carousel-container">
     <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
         <div class="carousel-inner">
         <div class="carousel-item active" data-bs-interval="5000">
             <img src="/static/afri.jpg" class="d-block w-100" alt="afri">
         </div>
         <div class="carousel-item" data-bs-interval="5000">
             <img src="/static/community.jpg" class="d-block w-100" alt="community">
         </div>
         <div class="carousel-item" data-bs-interval="5000">
             <img src="/static/glass.jpg" class="d-block w-100" alt="glass">
         </div>
         <div class="carousel-item" data-bs-interval="5000">
             <img src="/static/lost_coins.jpg" class="d-block w-100" alt="lost_coins">
         </div>
         <div class="carousel-item" data-bs-interval="5000">
             <img src="/static/passion_led.jpg" class="d-block w-100" alt="passion_led">
         </div>
 
         <div class="carousel-item" data-bs-interval="5000">
             <img src="/static/hand_coins.jpg" class="d-block w-100" alt="hand_coins">
         </div>
 
         <div class="carousel-item" data-bs-interval="5000">
             <img src="/static/we_rise.jpg" class="d-block w-100" alt="we_rise">
         </div>
         </div>
     </div>
 </div>