<!DOCTYPE html>
<html lang="en">
<head>
    {% include "bootstrap.html" %}
    <title>creating chama</title>
</head>
<body> 
    <div class="container">
        <h1 class="text-center mt-2 mb-4">create your own chama {{user_name}}</h1>
        <form action="/add_chama" method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text">Chama name</span>
                <input type="text" class="form-control" name="chama_name" id="chama_name" placeholder="unique name for your group">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Description</span>
                <textarea class="form-control" placeholder="Describe your group" name="description" id="floatingTextarea"></textarea>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Requirements</span>
                <textarea class="form-control" placeholder="list requirements(one per line)" name="requirements" id="floatingTextarea2"></textarea>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Summary</span>
                <textarea class="form-control" aria-label="summary" placeholder="the statement that will be displayed in chama page" id="summary" name="summary"></textarea>
            </div>  

            <div class="input-group mb-3">
                <span class="input-group-text">chamaLeader</span>
                <input type="text" class="form-control" name="username" id="username" value="{{user_name}}" readonly>
            </div>           

            <button type="submit" class="btn btn-primary">Create chama</button>
        </form>
    </div>
   
</body>
</html>